<section class="text-gray-600 body-font overflow-hidden">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img id="hero-image" class=" mb-10 object-cover object-center " alt="hero" src="https://avatars.githubusercontent.com/u/148447931?v=4">
      <div class="text-center lg:w-2/3 w-full">
        <h1 id="hero-text" class="title-font font-bold sm:text-4xl text-3xl mb-4 bg-gradient-to-r from-indigo-600 via-purple-500 to-pink-700 bg-clip-text text-transparent">Hi! This is Akash Halder</h1>
        <p id="hero-description" class="leading-relaxed font-semibold text-xl">Wanna see What <a id="link" href="https://angular.dev/" class="cursor-pointer bg-gradient-to-r from-indigo-600 via-purple-500 to-pink-700 bg-clip-text text-transparent">Angular 18</a> is Capable of doing?? </p>
        <p id="hero-description" class="mb-8 leading-relaxed">Learn Angular Concepts from my Coding Notes and see what it's capable of by clicking the button below</p>
        <button id="explore-button" class="inline-flex text-white font-bold border-0 py-2 px-20 focus:outline-none bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-lg" (click)="naviagteToAttribute()">EXPLORE NOW</button>
      </div>
    </div>
  </section>
  