<div class="dibba ml-5 mt-2 py-4 px-6 overflow-hidden">

<h1 class="text-5xl text-blue-600 font-semibold mb-4">1. Databinding</h1>
<table class="table overflow-hidden">
    <thead>
      <tr class="text-3xl font-bold overflow-hidden">
        <th scope="col">Sl No.</th>
        <th scope="col">OneWay Databinding</th>
        <th scope="col">Output</th>

      </tr>
    </thead>
    <tbody class="overflow-hidden">
        <tr class="border  text-xl text-center items-center font-bold text-orange-500 overflow-hidden">from .ts to .html</tr>
      <tr class="overflow-hidden">
        <th scope="row">1</th>
        <td class="text-xl font-semibold bg-success text-white">Interpolation</td>
        <div class="flex gap-3 overflow-hidden">
            <h4 class="font-semibold">{{courseName}}</h4>
            <input type="{{inputType}}" name="" id="">
            <h3>{{price}}</h3>
            <h4>{{currentDate}}</h4>
        </div>
       

      </tr>
      <tr class="overflow-hidden">
        <th scope="row">2</th>
        <td class="text-xl font-semibold bg-primary text-white">Property Binding</td>
        <div class="flex gap-3 overflow-hidden">
           <input type="text" [value]="courseName">
           <input [type]="inputType">
        </div>
      </tr>
      <tr class="border  text-xl text-center items-center font-bold text-orange-500 overflow-hidden">EVENT BINDING => from .html ts to .ts</tr>
     
    </tbody>
</table>
<div >
    <button type="button" class="ml-5 btn btn-primary mr-5" (click)="showAlert('This is Angular JS v18')">Click Me</button>
    <button class="btn btn-success" (click)="changeCourseName()">Change Course</button>
</div>

<div>
    <h2 class="text-2xl font-bold mt-5 ml-5"> My Name is - {{firstName()}}</h2>
    <h1 class="text-3xl font-bold mt-4 ml-5">TWO WAY DATA BINDING</h1>
    <h1 class="text-xl font-bold mt-2 ml-5">write Course Name</h1>
    <input class="ml-5" type="text" [(ngModel)]="courseName"/>

    <select [(ngModel)]="stateName">
        <option value="">Select</option>
        <option value="Kolkata">Kolkata</option>
        <option value="Goa">Goa</option>
        <option value="Punjab">Punjab</option>
    </select>
</div>
<br>
<hr>
</div>